<section class="hero section-p">
  <div class="container-x">

    <h2>{{post.title}}</h2>
    <h4 class="clr-warning">{{post.topic}}</h4>

    {% if user.user_id is same as post.user_id %}
    <br>
    <a href="/posts/edit/{{post.post_id}}" class="btn primary slim">Edit Post</a>
    {% endif %}
  </div>
</section>
<div class="hr-line"></div>

{# posts #}
<section class="hero section-p">
  <div class="container-x">
    <div class="flex gap-2 between">
      <h3>By: {{post.name}}</h3>
      <h3>{{post.added_on}}</h3>
    </div>
    <br>
    <div class="p-2" style="border: 2px solid #ccc; border-radius:10px;">
      <p style="white-space: pre-wrap;">{{post.body}}</p>
    </div>
  </div>
</section>